body{


    background-color: black;
}



.container1{

    display: flex;
    

}

.centreitemsdiv{

     flex-basis: 60%;
    position: relative;
     margin-top: 20%;
     margin-right: 0%;
     
                

}

.itemsLhs{

flex-basis: 40%;

position: relative;
margin-top: 10%;
margin-left: 10%;


}

h2{
    text-align: center;
    color: lightslategrey;
    margin: 50%;
}


/* *[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: whitesmoke;
   
    
 } */
 
 /* *[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
   
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
 } */
 



 